# Bufstream Iceberg quickstart

In [1]:
from pyspark.sql import SparkSession

conf = (
    pyspark.SparkConf()
        .setAppName('Jupyter')
        .set("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions")
        .set("spark.sql.catalog.bufstream-quickstart", "org.apache.iceberg.spark.SparkCatalog")
        .set("spark.sql.catalog.bufstream-quickstart.type", "rest")
        .set("spark.sql.catalog.bufstream-quickstart.uri", "http://iceberg-rest:8181")
)
spark = SparkSession.builder.config(conf=conf).getOrCreate()

25/09/20 04:18:50 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
%%sql 
SHOW DATABASES;

+-----------+
| namespace |
+-----------+
| bufstream |
+-----------+

In [3]:
%%sql
SHOW TABLES in `bufstream`

+-----------+---------------+-------------+
| namespace |     tableName | isTemporary |
+-----------+---------------+-------------+
| bufstream | email_updated |       False |
+-----------+---------------+-------------+

In [5]:
%%sql
SELECT
    reverse(split(val.new_email_address,'\\.'))[0] tld,
    count(1) tld_count
FROM
    `bufstream`.`email_updated`
GROUP BY
    tld
ORDER BY
    tld_count desc
LIMIT 3

+------+-----------+
|  tld | tld_count |
+------+-----------+
|  net |        23 |
| info |        15 |
|  com |        15 |
+------+-----------+